/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "courier new", sans-serif;
    font-weight: normal;
}



.btn41-43 {
  align-content: center;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.btn-41 {
  border: 2px solid rgb(185, 55, 55);
  z-index: 1;
  color: rgb(0, 0, 0);
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(41, 163, 157);
  transition: all 0.3s ease;
}


.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}
